In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv")

In [4]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
inputs = df.drop("salary_more_then_100k",axis="columns")
target = df["salary_more_then_100k"]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lab_company = LabelEncoder()
lab_job= LabelEncoder()
lab_degree = LabelEncoder()

In [9]:
inputs["company_num"] = lab_company.fit_transform(inputs["company"])
inputs["job_num"]= lab_job.fit_transform(inputs["job"])
inputs["degree_num"]=lab_degree.fit_transform(inputs["degree"])

In [10]:
inputs.head()

  company                  job     degree  company_num  job_num  degree_num
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [12]:
inputs_num= inputs.drop(["company","job","degree"],axis="columns")

In [13]:
inputs_num.head()

   company_num  job_num  degree_num
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

In [15]:
from sklearn import tree

In [17]:
model = tree.DecisionTreeClassifier()

In [20]:
model.fit(inputs_num,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
model.score(inputs_num,target)

1.0

In [26]:
model.predict([[2,0,1]])

array([1], dtype=int64)